<div class="flowchart_content">
  <div class="flowchart-edit">
    <% if admin_signed_in? %>
      <%= link_to "フローチャート追加", new_flowchart_path, class: 'btn btn-info' %>
    <% end %>
  </div>

  <div class= "flowchart-title">
    <h1>フローチャート一覧</h1>
  </div>

  <!--タブ始め-->
  <div class="tab-area">
    <div class="tab active">
      飲食業
    </div>
    <div class="tab">
      風営法
    </div>
    <div class="tab">
      建設業法
    </div>
    <div class="tab">
      入管法
    </div>
    <div class="tab">
      その他
    </div>
  </div>
  <!--タブ終わり-->

  <!--タブ内の要素始め-->
  <div class="content-area">
    <div class="content show">
      <!--飲食業のタブの中身-->
      <!--飲食業のデータが入っていない場合には、テーブルの枠線を消す-->
      <% if @flowchart_restaurant_chart.any? %>
      <table border="1">
        <tbody>
          <tr>
            <% @flowchart_restaurant_chart.each do |flowchart_restaurant_chart| %>
              <td><%= link_to "#{flowchart_restaurant_chart.title}", flowchart_path(flowchart_restaurant_chart) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="content">
      <!--風営法のタブの中身-->
      <% if @flowchart_amusement_chart.any? %>
      <table border="1">
        <tbody>
          <tr>
            <% @flowchart_amusement_chart.each do |flowchart_amusement_chart| %>
              <td><%= link_to "#{flowchart_amusement_chart.title}", flowchart_path(flowchart_amusement_chart) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="content">
      <!--建築業法のタブの中身-->
      <% if @flowchart_construction_chart.any? %>
      <table border="1">
        <tbody>
          <tr>
            <% @flowchart_construction_chart.each do |flowchart_construction_chart| %>
              <td><%= link_to "#{flowchart_construction_chart.title}", flowchart_path(flowchart_construction_chart) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="content">
      <!--入管法のタブの中身-->
      <% if @flowchart_immigration_chart.any? %>
      <table border="1">
        <tbody>
          <tr>
            <% @flowchart_immigration_chart.each do |flowchart_immigration_chart| %>
              <td><%= link_to "#{flowchart_immigration_chart.title}", flowchart_path(flowchart_immigration_chart) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="content">
      <!--その他のタブの中身-->
      <% if @flowchart_other_chart.any? %>
      <table border="1">
        <tbody>
          <tr>
            <% @flowchart_other_chart.each do |flowchart_other_chart| %>
              <td><%= link_to "#{flowchart_other_chart.title}", flowchart_path(flowchart_other_chart) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  <!--タブ内の要素終わり-->

  <!--行政機関のタブエリア始め-->
  <div class="flowchart-title">
    <h1>東京都 各行政機関のホームページ</h1>
  </div>
  <div class="tokyo_tab-area">
    <div class="tokyo_tab tokyo_active">
      飲食業
    </div>
    <div class="tokyo_tab">
      風営法
    </div>
    <div class="tokyo_tab">
      建設業法
    </div>
   <div class="tokyo_tab">
      入管法
    </div>
    <div class="tokyo_tab">
      その他
    </div>
  </div>
  <!--行政機関のタブエリア終わり-->
  <!--行政機関のタブ要素始め-->
  <div class="tokyo_content-area">
    <div class="tokyo_content show">
      <table border="1">
        <!--飲食業のタブ要素-->
        <tbody>
          <% i = 0 %>
          <% while i < @flowchart_restaurant_hp.size %>
          <tr>
            <!--[i+~]の要素がない場合、エラーが出てしまうため、要素がない場合には空白を返すように設定-->
            <% if @flowchart_restaurant_hp[i].present? %>
              <td>
                <%= link_to "#{@flowchart_restaurant_hp[i].title}", "#{@flowchart_restaurant_hp[i].url}", target: :"_blank", rel: "noopener noreferrer" %>
                <% if admin_signed_in? %>
                  <%= link_to "編集する", flowchart_path(@flowchart_restaurant_hp[i]), class: 'btn btn-success'  %>
                <% end %>
              </td>
            <% end %>

            <% if @flowchart_restaurant_hp[i+1].present? %>
              <td>
                <%= link_to "#{@flowchart_restaurant_hp[i+1].title}", "#{@flowchart_restaurant_hp[i+1].url}", target: :"_blank", rel: "noopener noreferrer" %>
                <% if admin_signed_in? %>
                  <%= link_to "編集する", flowchart_path(@flowchart_restaurant_hp[i+1]), class: 'btn btn-success'  %>
                <% end %>
              </td>
            <% end %>

            <% if @flowchart_restaurant_hp[i+2].present? %>
              <td>
                <%= link_to "#{@flowchart_restaurant_hp[i+2].title}", "#{@flowchart_restaurant_hp[i+2].url}", target: :"_blank", rel: "noopener noreferrer" %>
                <% if admin_signed_in? %>
                  <%= link_to "編集する", flowchart_path(@flowchart_restaurant_hp[i+2]), class: 'btn btn-success'  %>
                <% end %>
              </td>
            <% end %>

            <% if @flowchart_restaurant_hp[i+3].present? %>
              <td>
                <%= link_to "#{@flowchart_restaurant_hp[i+3].title}", "#{@flowchart_restaurant_hp[i+3].url}", target: :"_blank", rel: "noopener noreferrer" %>
                <% if admin_signed_in? %>
                  <%= link_to "編集する", flowchart_path(@flowchart_restaurant_hp[i+3]), class: 'btn btn-success'  %>
                <% end %>
              </td>
            <% end %>
            <% i += 4 %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tokyo_content-area">
      <div class="tokyo_content">
        <table border="1">
          <!--風営法のタブ-->
          <tbody>
            <% i = 0 %>
            <% while i < @flowchart_amusement_hp.size %>
            <tr>
              <!--[i+~]の要素がない場合、エラーが出てしまうため、要素がない場合には空白を返すように設定-->
              <% if @flowchart_amusement_hp[i].present? %>
                <td>
                  <%= link_to "#{@flowchart_amusement_hp[i].title}", "#{@flowchart_amusement_hp[i].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_amusement_hp[i]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_amusement_hp[i+1].present? %>
                <td>
                  <%= link_to "#{@flowchart_amusement_hp[i+1].title}", "#{@flowchart_amusement_hp[i+1].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_amusement_hp[i+1]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_amusement_hp[i+2].present? %>
                <td>
                  <%= link_to "#{@flowchart_amusement_hp[i+2].title}", "#{@flowchart_amusement_hp[i+2].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_amusement_hp[i+2]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_amusement_hp[i+3].present? %>
                <td>
                  <%= link_to "#{@flowchart_amusement_hp[i+3].title}", "#{@flowchart_amusement_hp[i+3].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_amusement_hp[i+3]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>
              <% i += 4 %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tokyo_content-area">
      <div class="tokyo_content">
        <table border="1">
          <!--建設業法のタブエリア-->
          <tbody>
            <% i = 0 %>
            <% while i < @flowchart_construction_hp.size %>
            <tr>
              <!--[i+~]の要素がない場合、エラーが出てしまうため、要素がない場合には空白を返すように設定-->
              <% if @flowchart_construction_hp[i].present? %>
                <td>
                  <%= link_to "#{@flowchart_construction_hp[i].title}", "#{@flowchart_construction_hp[i].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_construction_hp[i]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_construction_hp[i+1].present? %>
                <td>
                  <%= link_to "#{@flowchart_construction_hp[i+1].title}", "#{@flowchart_construction_hp[i+1].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_construction_hp[i+1]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_construction_hp[i+2].present? %>
                <td>
                  <%= link_to "#{@flowchart_construction_hp[i+2].title}", "#{@flowchart_construction_hp[i+2].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_construction_hp[i+2]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_construction_hp[i+3].present? %>
                <td>
                  <%= link_to "#{@flowchart_construction_hp[i+3].title}", "#{@flowchart_construction_hp[i+3].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_construction_hp[i+3]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>
              <% i += 4 %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tokyo_content-area">
      <div class="tokyo_content">
        <table border="1">
          <!--入管法のタブエリア-->
          <tbody>
            <% i = 0 %>
            <% while i < @flowchart_immigration_hp.size %>
            <tr>
              <!--[i+~]の要素がない場合、エラーが出てしまうため、要素がない場合には空白を返すように設定-->
              <% if @flowchart_immigration_hp[i].present? %>
                <td>
                  <%= link_to "#{@flowchart_immigration_hp[i].title}", "#{@flowchart_immigration_hp[i].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_immigration_hp[i]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_immigration_hp[i+1].present? %>
                <td>
                  <%= link_to "#{@flowchart_immigration_hp[i+1].title}", "#{@flowchart_immigration_hp[i+1].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_immigration_hp[i+1]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_immigration_hp[i+2].present? %>
                <td>
                  <%= link_to "#{@flowchart_immigration_hp[i+2].title}", "#{@flowchart_immigration_hp[i+2].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_immigration_hp[i+2]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_immigration_hp[i+3].present? %>
                <td>
                  <%= link_to "#{@flowchart_immigration_hp[i+3].title}", "#{@flowchart_immigration_hp[i+3].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_immigration_hp[i+3]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>
              <% i += 4 %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tokyo_content-area">
      <div class="tokyo_content">
        <table border="1">
          <!--その他のタブエリア-->
          <tbody>
            <% i = 0 %>
            <% while i < @flowchart_other_hp.size %>
            <tr>
              <!--[i+~]の要素がない場合、エラーが出てしまうため、要素がない場合には空白を返すように設定-->
              <% if @flowchart_other_hp[i].present? %>
                <td>
                  <%= link_to "#{@flowchart_other_hp[i].title}", "#{@flowchart_other_hp[i].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_other_hp[i]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_other_hp[i+1].present? %>
                <td>
                  <%= link_to "#{@flowchart_other_hp[i+1].title}", "#{@flowchart_other_hp[i+1].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_other_hp[i+1]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_other_hp[i+2].present? %>
                <td>
                  <%= link_to "#{@flowchart_other_hp[i+2].title}", "#{@flowchart_other_hp[i+2].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_other_hp[i+2]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>

              <% if @flowchart_other_hp[i+3].present? %>
                <td>
                  <%= link_to "#{@flowchart_other_hp[i+3].title}", "#{@flowchart_other_hp[i+3].url}", target: :"_blank", rel: "noopener noreferrer" %>
                  <% if admin_signed_in? %>
                    <%= link_to "編集する", flowchart_path(@flowchart_other_hp[i+3]), class: 'btn btn-success'  %>
                  <% end %>
                </td>
              <% end %>
              <% i += 4 %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--行政機関のタブ要素終わり-->
</div>