<%= form_with model: @flowchart, local: true do |f| %>
  <div class="form_group">
    <%= f.label :記事タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="form_group">
    <%= f.label :ジャンル %>
    <%= f.text_field :genre %>
  </div>

  <div class="form_group">
    <%= f.label :記事詳細 %>
    <%= f.text_area :introduction %>
  </div>

  <div class="form_group">
    <%= f.submit "投稿" %>
  </div>
<% end %>