フローチャート作成画面

<%= form_with model: @article, local: true do |f| %>
  <div class="form_group">
    <%= f.label :記事タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="form_group">
    <%= f.label :フローチャートの内容 %>
    <%= f.text_field :introduction %>
  </div>

  <div class="form_group">
    <%= f.label :手続き場所 %>
    <%= f.text_area :place %>
  </div>
  </div>

  <div class="form_group">
    <%= f.submit "投稿" %>
  </div>
<% end %>