<% if @article.user == current_user %>
  <%= link_to "編集する", edit_article_path %>
<% end %>

<% if @article.user == current_user %>
  <%= link_to "削除する", article_path, method: :delete %>
<% end %>

オススメ記事詳細画面
<br>

記事タイトル
<%= @article.title %>
<br>

<!--リンク先を新しいタブで開けるようにして、遷移先で元タブを書き換えられないようにする-->
URL：<a href= <%= @article.url %> target="_blank" rel="noopener noreferrer"><%= @article.url %></a>
<br>

記事の紹介文
<%= @article.introduction %>
<br>

タグ
<td><%= render 'favorites/tag_list', tag_list: @article.tag_list %></td>

<div class="comments">
  <table border="1">
    <thead>
      <th>ユーザー名</th>
      <th>コメント</th>
      <th>削除ボタン</th>
    </thead>

      <div id="comments_area">
        <%= render partial: 'comments/comment', locals: {article: @article} %>
      </div>
  </table>
</div>

<div id="comments_area">
  <%= render partial: 'comments/form', locals: {comment: @comment_new, article: @article} %>
</div>