<div class="show-content">
  <div class="show-title">
    <h1>オススメ記事詳細画面</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 d-flex align-items-center justify-content-center">
      <div class="article-show">

        <div class="article-contents">
          <p>記事タイトル</p>
          <%= @article.title %>
        </div>

        <div class="article-contents">
          <!--リンク先を新しいタブで開けるようにして、遷移先で元タブを書き換えられないようにする-->
          <p>URL</p>
          <a href= <%= @article.url %> target="_blank" rel="noopener noreferrer"><%= @article.url %></a>
        </div>

        <div class="article-contents">
          <p>記事の紹介文</p>
          <%= @article.introduction %>
        </div>

        <div class="article-contents">
          <p>タグ</p>
          <!--記事に付けられたタグを表示-->
          <p><%= render 'favorites/tag_list', tag_list: @article.tag_list %></p>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-md-6 d-flex align-items-center justify-content-center">
      <!--ユーザーサインインしている場合にのみコメントができるように-->
      <% if user_signed_in? %>
        <div class="comments-form">
          <%= render partial: 'comments/form', locals: {comment: @comment_new, article: @article} %>
        </div>
      <% else %>
        <h2>ログインをするとコメントが<br>できるようになります。</h2>
      <% end %>
    </div>
  </div>



  <div class="botton-area">
    <div class="botton">
      <!--ログイン中のユーザーが記事を投稿したユーザーである場合にのみ、編集ボタンを表示-->
      <% if @article.user == current_user %>
        <%= link_to "編集する", edit_article_path, class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div class="botton">
    <!--ログイン中のユーザーが記事を投稿したユーザーである場合、もしくは、管理者がログイン中である場合、削除ボタンを表示-->
      <% if @article.user == current_user %>
        <%= link_to "削除する", article_path, class: 'btn btn-danger', method: :delete %>
      <% elsif admin_signed_in? %>
        <%= link_to "削除する", article_path, class: 'btn btn-danger', method: :delete %>
      <% end %>
    </div>

    <% if @article.user != current_user %>
      <div class="botton">
        <% if current_user  %>
        <!--ログイン中かつ、記事投稿者がログインユーザーでない場合、記事の通報が可能-->
          <div id="reports_buttons_<%= @article.id %>">
             <%= render partial: 'reports/report', locals: { article: @article} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class="comments">
    <table border="1">
      <thead>
        <th>ユーザー名</th>
        <th>コメント</th>
        <% if @article.user == current_user %>
        <!--記事投稿者がログイン中のユーザーである場合、テキストが表示-->
          <th>削除ボタン</th>
        <% end %>
      </thead>

        <div id="comments_area">
          <%= render partial: 'comments/comment', locals: {article: @article} %>
        </div>
    </table>
  </div>
</div>