オススメ記事詳細画面
<br>

記事タイトル
<%= @article.title %>
<br>

<!--リンク先を新しいタブで開けるようにして、遷移先で元タブを書き換えられないようにする-->
URL：<a href= <%= @article.url %> target="_blank" rel="noopener noreferrer"><%= @article.url %></a>
<br>

記事の紹介文
<%= @article.introduction %>
<br>

タグ
<タグを入れる>

<div class="comments">
  <table>
    <thead>
      <th>ユーザー名</th>
      <th>コメント</th>
    </thead>

    <% @article.comments.each do |comment| %>
      <tbody>
        <td><%= comment.user.email %></td>
        <td><%= comment.comment %></td>
      </tbody>
    <% end %>
  </table>
</div>

<div class="new_comments">
  <%= form_with(model:[@article, @comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:5, placeholder: "記事への感想を入力してください" %>
    <%= f.submit "コメントする" %>
  <% end %>
</div>