<div class="page_name">Gyo_tetsu</div>

<div class="row">
  <div class="search_area">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.label :フローチャート・オススメ記事検索 %>
      <br>
      <%= f.text_field 'search[value]'%>
      <%= f.select 'search[model]', options_for_select({ "オススメ記事" => "article", "フローチャート" => "flow" }) %>
      <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "部分一致" => "partical"  }) %>
      <%= f.submit :"検索" %>
    <% end %>
  </div>
</div>