<div class="container">
  <div class="col-xs-12">
    <% if @model == "article" %>
      <h2>Articles search for '<%= @value %>'</h2>
      <table border="1">
          <thead>
              <tr>
                <th>ユーザー名</th>
                <th>記事タイトル</th>
                <th>記事紹介文</th>
                <th>タグ</th>
                <th>コメント数</th>
                <% if user_signed_in? %>
                <th>いいね</th>
                <% end %>
                <th>いいね数</th>
                <th>記事の詳細ページ</th>
                <th>記事作成日時</th>
              </tr>
          </thead>
      <% @datas.each do |article| %>
          <tbody>
              <tr>
                <td><%= article.user.name %></td>
                <td><%= article.title %></td>
                <td><%= article.introduction %></td>
                <td><%= render 'favorites/tag_list', tag_list: article.tag_list %></td>
                <td>コメント数</td>
                <% if user_signed_in? %>
                <td>
                  <% if article.favorited_by?(current_user) %>
                    <%= link_to article_favorites_path(article), method: :delete, remote: true do %>♥<% end %>
                  <% else %>
                    <%= link_to article_favorites_path(article), method: :post, remote: true do %>♡<% end %>
                  <% end %>
                </td>
                <% end %>
                <td><%= article.favorites.count %></td>
                <td><%= link_to "詳細", article_path(article) %></td>
                <td><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              </tr>
          </tbody>
      <% end %>
      </table>
    <% elsif @model == "flow" %>
      <h2>Flow search for '<%= @value %>'</h2>
      <table class="table">
        <thead>
            <tr>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
        </thead>
        <% @datas.each do |flow| %>
        <tbody>
            <tr>
              <th>
                  <%= フローチャート %>
              </th>
              <th>
                  <%= フローチャート %>
              </th>
            </tr>
        </tbody>
        <% end %>
    <% end %>
      </table>
  </div>
</div>