<div class="search-content">
  <div class="search-result">
    <% if @model == "article" %>
      <h2>オススメ記事 検索結果 '<%= @value %>'</h2>
      <table border="1">
          <thead>
              <tr>
                <th>ユーザー名</th>
                <th>記事タイトル</th>
                <th>記事紹介文</th>
                <th>タグ</th>
                <th>記事の詳細ページ</th>
                <th>記事作成日時</th>
              </tr>
          </thead>
      <% @datas.each do |article| %>
          <tbody>
              <tr>
                <td><%= article.user.name %></td>
                <td><%= article.title %></td>
                <td><%= article.introduction %></td>
                <td><%= render 'favorites/tag_list', tag_list: article.tag_list %></td>
                <td><%= link_to "詳細", article_path(article) %></td>
                <td><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              </tr>
          </tbody>
      <% end %>
    </table>
    <% elsif @model == "flowchart" %>
        <h2>フローチャート 検索結果 '<%= @value %>'</h2>
        <table border="1">
          <thead>
              <tr>
                <th>タイトル</th>
              </tr>
          </thead>
          <% @datas.each do |flowchart| %>
          <tbody>
              <tr>
                <th>
                  <%= link_to "#{flowchart.title}", flowchart_path(flowchart) %>
                </th>
              </tr>
          </tbody>
          <% end %>
    <% end %>
    </table>
  </div>
</div>