<div class="header">
  <div class="botton">
    <p><%= link_to "トップページ", root_path %></p>
  </div>

  <div class="botton">
    <p><%= link_to "みんなのオススメ記事", articles_path %></p>
  </div>

  <div class="botton">
    <p><%= link_to "手続きフローチャート", flowcharts_path %></p>
  </div>

  <div class="botton">
    <p><%= link_to "新規登録", new_user_registration_path %></p>
  </div>

  <div class="botton">
    <p><%= link_to "ログイン", new_user_session_path %></p>
  </div>

  <div class="botton">
    <p><%= link_to "管理者ログイン", new_admin_session_path %></p>
  </div>
</div>