<div class="header">
  <div class="botton">
    <%= link_to "トップページ", root_path %>
  </div>

  <div class="botton">
    <%= link_to "みんなのオススメ記事", articles_path %>
  </div>

  <div class="botton">
    <%= link_to "手続きフローチャート", articles_path %>
  </div>

  <div class="botton">
    <%= link_to "新規登録", new_user_registration_path %>
  </div>

  <div class="botton">
    <%= link_to "ログイン", new_user_session_path %>
  </div>
</div>