<!DOCTYPE html>
<html>
  <head>
    <title>GyoTetsu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: 'layouts/login_user_header' %>
    <% else %>
      <%= render partial: 'layouts/no_login_user_header' %>
    <% end %>

    <%= yield %>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>